# [ DataFrame 살펴보기 ]
* 데이터를 테이블 즉 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메소드

(1) 모듈로딩

In [139]:
from pandas import DataFrame as DF

(2) 데이터 준비

In [140]:
data = [[11, 22, 33], [44, 55, 66], [77, 88, 99]]

(3) DataFrame으로 저장 즉, DataFrame 객체 생성

In [141]:
df1 = DF()
df1

Empty DataFrame
Columns: []
Index: []

In [142]:
df1 = DF(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4) DataFrame의 속성 읽기 => 객체변수명.속성명

In [143]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [144]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [145]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [146]:
# 데이터가 저장된 표의 형태
df1.shape

(3, 3)

In [147]:
# 데이터의 차원정보 n-dimention
df1.ndim

2

In [148]:
# 컬럼별 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 ==> 행과 열 징 ===> 1개 원소

- 컬럼 즉 열 (column) 읽기 ==> 객체변수명[인덱스]

In [149]:
zerocol = df1[0]
print(type(zerocol))
print(zerocol)

<class 'pandas.core.series.Series'>
0    11
1    44
2    77
Name: 0, dtype: int64

In [150]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [151]:
# df1[-1]

In [152]:
## 컬럼변경
df1.columns = ['A', 'B', 'C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [153]:
df1['A']

0    11
1    44
2    77
Name: A, dtype: int64

In [154]:
df1.A

0    11
1    44
2    77
Name: A, dtype: int64

- 로우 즉 행 (row) 읽기 ==> 방법 2가지
    * 위치 인덱스로 읽기   : 객체변수명.iloc[인덱스]
    * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [156]:
df1.index = ['one', 'two', 'three']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [157]:
one = df1.loc['one']
print(type(one))
print(one)

<class 'pandas.core.series.Series'>
A    11
B    22
C    33
Name: one, dtype: int64

In [158]:
one = df1.iloc[0]
print(type(one))
print(one)

<class 'pandas.core.series.Series'>
A    11
B    22
C    33
Name: one, dtype: int64

(6) 모든 원소를 한번에 한개씩만 출력

In [159]:
for idx in df1.index:
    for col in df1.loc[idx]:
        print(col, end=' ')
    print()

11 22 33
44 55 66
77 88 99

In [160]:
for col in df1.columns:
    for idx in df1[col]:
        print(idx, end=' ')
    print()

11 44 77
22 55 88
33 66 99

In [161]:
for val in df1.values:
    print(val, end=' ')

[11 22 33] [44 55 66] [77 88 99]

- 객체변수명.iloc[행인덱스, 열인덱스] / 객체변수명.loc[행레이블, 열인덱스 or 열레이블]

In [162]:
df1.iloc[0, 0], df1.iloc[0, 2], df1.iloc[1, 0], df1.iloc[1, 2]

(11, 33, 44, 66)

In [163]:
df1.loc['one', 'A'], df1.loc['one', 'B'], df1.loc['two', 'A'], df1.loc['two', 'B']

(11, 22, 44, 55)

In [164]:
df1.iloc[0][0]

11

In [165]:
zero = df1.iloc[0]
zero

A    11
B    22
C    33
Name: one, dtype: int64

In [166]:
b = df1['B']
b

one      22
two      55
three    88
Name: B, dtype: int64

In [167]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

- iloc를 활용한 모든 원소 출력 ==> 행과 열의 변호

In [168]:
for row in range(df1.shape[0]):
    for col in range(df1.shape[1]):
        print(f'({row}, {col}) : {df1.iloc[row, col]}')

(0, 0) : 11
(0, 1) : 22
(0, 2) : 33
(1, 0) : 44
(1, 1) : 55
(1, 2) : 66
(2, 0) : 77
(2, 1) : 88
(2, 2) : 99

- loc를 활용한 모든 원소 출력 => 행 레이블/이름과 열 레이블/이름

In [169]:
for row in df1.index:
    print(f'{row} :', end=' ')
    for col in df1.columns:
        print(f'{col}{df1.loc[row,col]}', end=' ')
    print()

one : A11 B22 C33
two : A44 B55 C66
three : A77 B88 C99

#### [ 문제 ] one, three 행을 선택 후 저장하기

In [177]:
df2 = df1.loc[['one', 'three'], 'A']

print(type(df2), df2, sep='\n')

<class 'pandas.core.series.Series'>
one      11
three    77
Name: A, dtype: int64

In [179]:
df1.loc[['one']]

      A   B   C
one  11  22  33

In [180]:
df1.loc['one']

A    11
B    22
C    33
Name: one, dtype: int64