### [ Series 객체 원소 인덱싱 & 슬라이싱 ]

(1) 모듈 로딩

In [3]:
import pandas as pd

(2) 데이터 준비

In [4]:
datas = {'name':'홍길동', 'age':12, 'job':'도적'}

(3) Series 객체 생성

In [5]:
sr1 = pd.Series(datas)
sr1

name    홍길동
age      12
job      도적
dtype: object

(3) 인덱싱으로 원소 읽기  

=> 1개 원소 읽기

In [12]:
print(sr1['age'], sr1[1], sr1.index, type(sr1[0]))

12 12 Index(['name', 'age', 'job'], dtype='object') <class 'str'>

=> 2개 원소 읽기

In [10]:
# 이름과 직업 데이터 읽기
sr1['name'], sr1['job'], sr1[0], sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [19]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret = sr1[['name', 'job']]
ret2 = sr1[[0, 2]]
print(type(ret), ret, sep='\n')
print(type(ret2), ret2, sep='\n')

<class 'pandas.core.series.Series'>
name    홍길동
job      도적
dtype: object
<class 'pandas.core.series.Series'>
name    홍길동
job      도적
dtype: object

(4) 슬라이싱으로 원소 읽기

- 위치 인덱스로 슬라이싱

In [23]:
sr1[:2]

name    홍길동
age      12
dtype: object

- 레이블 인덱스로 슬라이싱

In [25]:
sr1['name':'job']      # 시작<= ~ <=끝

name    홍길동
age      12
job      도적
dtype: object

In [26]:
sr1['name':'age']      # 시작<= ~ <=끝 == sr1[:2]

name    홍길동
age      12
dtype: object