## [ Series 데이터 연산 ]

- (1) 모듈 로딩

In [4]:
import pandas as pd
import numpy as np                          # import math as m ==> m.nan

- (2) 데이터 준비

In [5]:
data = [5, 7, np.nan, 9, 11]

- (3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [6]:
sr = pd.Series(data)

- (4) 데이터 확인

In [8]:
sr.index, sr.shape, sr.ndim, sr.dtypes, sr.size

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'), 5)

In [9]:
sr.values

array([ 5.,  7., nan,  9., 11.])

- (5) 연산 수행 => Series 객체 - 연산자 - 숫자

In [12]:
sr + 5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [13]:
sr - 5

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

In [14]:
sr * 2

0    10.0
1    14.0
2     NaN
3    18.0
4    22.0
dtype: float64

In [15]:
sr / 5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [16]:
sr // 3

0    1.0
1    2.0
2    NaN
3    3.0
4    3.0
dtype: float64

In [17]:
sr % 3

0    2.0
1    1.0
2    NaN
3    0.0
4    2.0
dtype: float64

In [18]:
sr > 5

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [19]:
sr < 10

0     True
1     True
2    False
3     True
4    False
dtype: bool

- 논리연산 => & : and 연산   | : or 연산   ~ : not 연산

In [22]:
# sr > 5 and sr < 10
(sr > 5) & (sr < 10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [23]:
(sr < 5) | (sr > 10)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [24]:
~(sr>5)

0     True
1    False
2     True
3    False
4    False
dtype: bool

- (5) 연산 수행 => Series 객체 + Series 객체

In [25]:
data2 = [2,4,6,8,9]
sr2 = pd.Series(data2)

In [26]:
sr + sr2

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

In [27]:
sr - sr2

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [28]:
sr * sr2

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

In [29]:
sr / sr2

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

In [30]:
sr % sr2

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [31]:
sr > sr2

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [32]:
sr < sr2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [33]:
sr == sr2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [34]:
sr2.index=[2,3,4,5,6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [35]:
sr + sr2

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

In [47]:
sr2 = sr2.reset_index(drop=True)
sr2

0    2
1    4
2    6
3    8
4    9
dtype: int64

- (5) Series 연산수행 => 전용 메소드

In [54]:
sr.add(5)

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [55]:
sr.add(5, fill_value=0)

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [56]:
sr.sub(sr2)

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [57]:
sr.sub(sr2, fill_value=0)

0    3.0
1    3.0
2   -6.0
3    1.0
4    2.0
dtype: float64

In [58]:
addSR = sr.add(5, fill_value=0)
subSR = sr.sub(5, fill_value=0)
mulSR = sr.mul(5, fill_value=0)
divSR = sr.div(5, fill_value=0)

In [59]:
addSR, subSR, mulSR, divSR

(0    10.0
 1    12.0
 2     5.0
 3    14.0
 4    16.0
 dtype: float64,
 0    0.0
 1    2.0
 2   -5.0
 3    4.0
 4    6.0
 dtype: float64,
 0    25.0
 1    35.0
 2     0.0
 3    45.0
 4    55.0
 dtype: float64,
 0    1.0
 1    1.4
 2    0.0
 3    1.8
 4    2.2
 dtype: float64)

- (6) DataFrame 연산 수행

In [63]:
df = pd.DataFrame([addSR, subSR, mulSR, divSR], index = ['add', 'sub', 'mul', 'div'])

In [64]:
df

        0     1    2     3     4
add  10.0  12.0  5.0  14.0  16.0
sub   0.0   2.0 -5.0   4.0   6.0
mul  25.0  35.0  0.0  45.0  55.0
div   1.0   1.4  0.0   1.8   2.2

In [65]:
print(df+5, df-5, sep='\n\n')

        0     1     2     3     4
add  15.0  17.0  10.0  19.0  21.0
sub   5.0   7.0   0.0   9.0  11.0
mul  30.0  40.0   5.0  50.0  60.0
div   6.0   6.4   5.0   6.8   7.2

        0     1     2     3     4
add   5.0   7.0   0.0   9.0  11.0
sub  -5.0  -3.0 -10.0  -1.0   1.0
mul  20.0  30.0  -5.0  40.0  50.0
div  -4.0  -3.6  -5.0  -3.2  -2.8

In [66]:
print(df>5, df<5, sep='\n\n')

         0      1      2      3      4
add   True   True  False   True   True
sub  False  False  False  False   True
mul   True   True  False   True   True
div  False  False  False  False  False

         0      1      2      3      4
add  False  False  False  False  False
sub   True   True   True   True  False
mul  False  False   True  False  False
div   True   True   True   True   True

- DataFrame과 DataFrame 연산 수행 => 동일 위치에 원소끼리 연산 수행

In [67]:
df2 = df*10
df2

         0      1     2      3      4
add  100.0  120.0  50.0  140.0  160.0
sub    0.0   20.0 -50.0   40.0   60.0
mul  250.0  350.0   0.0  450.0  550.0
div   10.0   14.0   0.0   18.0   22.0

In [68]:
print(df+df2, df*df2, sep='\n\n')

         0      1     2      3      4
add  110.0  132.0  55.0  154.0  176.0
sub    0.0   22.0 -55.0   44.0   66.0
mul  275.0  385.0   0.0  495.0  605.0
div   11.0   15.4   0.0   19.8   24.2

          0        1      2        3        4
add  1000.0   1440.0  250.0   1960.0   2560.0
sub     0.0     40.0  250.0    160.0    360.0
mul  6250.0  12250.0    0.0  20250.0  30250.0
div    10.0     19.6    0.0     32.4     48.4

In [69]:
df2.index = ['add','minus','mul','/']

In [70]:
print(df+df2, df*df2, sep='\n\n')

           0      1     2      3      4
/        NaN    NaN   NaN    NaN    NaN
add    110.0  132.0  55.0  154.0  176.0
div      NaN    NaN   NaN    NaN    NaN
minus    NaN    NaN   NaN    NaN    NaN
mul    275.0  385.0   0.0  495.0  605.0
sub      NaN    NaN   NaN    NaN    NaN

            0        1      2        3        4
/         NaN      NaN    NaN      NaN      NaN
add    1000.0   1440.0  250.0   1960.0   2560.0
div       NaN      NaN    NaN      NaN      NaN
minus     NaN      NaN    NaN      NaN      NaN
mul    6250.0  12250.0    0.0  20250.0  30250.0
sub       NaN      NaN    NaN      NaN      NaN

- 연산 수행 메소드 활용 => 결측치 즉 NaN 빈칸에 대한 처리를 수행 가능
    * fill_value 파라미터에 값 설정

In [71]:
df.add(df2, fill_value=0)

           0      1     2      3      4
/       10.0   14.0   0.0   18.0   22.0
add    110.0  132.0  55.0  154.0  176.0
div      1.0    1.4   0.0    1.8    2.2
minus    0.0   20.0 -50.0   40.0   60.0
mul    275.0  385.0   0.0  495.0  605.0
sub      0.0    2.0  -5.0    4.0    6.0