### [ 다양한 Series 객체 생성 ]

#### (1) 모듈 로딩

In [2]:
import pandas as pd

#### (2) Series 객체 생성 - 방법 1  
- Series( data, index=지정 )

In [3]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'])

In [4]:
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 생성 - 방법 2

In [5]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법 3

In [8]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu', dtype='uint8')     # unsigned int
sr1

one      11
two      22
three    33
Name: jumsu, dtype: uint8

#### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [11]:
data = {'name':'홍길동', 'age':12, 'job':'도적'}

sr1 = pd.Series(data)
sr1

name    홍길동
age      12
job      도적
dtype: object

In [15]:
# 속성 확인하기
print(sr1.index, sr1.values, sep='\n')

Index(['name', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

#### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 set

In [19]:
data={'홍길동', 12, '도적'}         # 순서없는 데이터, 중복 불허

# 형변환 후 객체 생성 가
sr1 = pd.Series(list(data), index=[1,2,3])
sr1

1    홍길동
2     12
3     도적
dtype: object