## [3장 코딩 챌린지]

In [145]:
import pandas as pd
import numpy as np
import datetime as dt

In [146]:
# 파일 경로
filename = '../../DATA/revolutionary_war.csv'

In [147]:
# csv 파일 불러오기
rwDF = pd.read_csv(filename, parse_dates=['Start Date'])
rwDF

                                Battle Start Date          State
0                         Powder Alarm 1774-09-01  Massachusetts
1    Storming of Fort William and Mary 1774-12-14  New Hampshire
2     Battles of Lexington and Concord 1775-04-19  Massachusetts
3                      Siege of Boston 1775-04-19  Massachusetts
4                   Gunpowder Incident 1775-04-20       Virginia
..                                 ...        ...            ...
227                Siege of Fort Henry 1782-09-11       Virginia
228         Grand Assault on Gibraltar 1782-09-13            NaN
229          Action of 18 October 1782 1782-10-18            NaN
230          Action of 6 December 1782 1782-12-06            NaN
231          Action of 22 January 1783 1783-01-22       Virginia

[232 rows x 3 columns]

In [148]:
# Start Date 컬럼으로 시리얼 생성
dateSR = rwDF['Start Date']
dateSR

0     1774-09-01
1     1774-12-14
2     1775-04-19
3     1775-04-19
4     1775-04-20
         ...
227   1782-09-11
228   1782-09-13
229   1782-10-18
230   1782-12-06
231   1783-01-22
Name: Start Date, Length: 232, dtype: datetime64[ns]

In [149]:
# 저장 형태 : Timestamp
dateSR[1]

Timestamp('1774-12-14 00:00:00')

In [150]:
# NaN 데이터 삭제
dateSR.dropna(inplace=True)
dateSR.isna().sum()

0

In [151]:
# 시리얼 재생성
dateSR = pd.Series([ d.strftime("%A") if d else None for d in dateSR ])
dateSR

0       Thursday
1      Wednesday
2      Wednesday
3      Wednesday
4       Thursday
         ...
223    Wednesday
224       Friday
225       Friday
226       Friday
227    Wednesday
Length: 228, dtype: object

In [152]:
# 최종 출력은 요일을 인덱스 레이블로, 각 날짜(?)의 전투 횟수를 값으로 가지는 Series
# 이거도 번역이 이상한데
# 싸늘하다
dateSR.value_counts()

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
dtype: int64

## [12장 코딩 챌린지]

In [153]:
# 파일 경로
filename2 = '../../DATA/tv_shows.json'

In [154]:
# json 파일 불러오기
tvshDF = pd.read_json(filename2)
tvshDF

                                               shows
0  {'show': 'The X-Files', 'runtime': 60, 'networ...
1  {'show': 'Lost', 'runtime': 60, 'network': 'AB...
2  {'show': 'Buffy the Vampire Slayer', 'runtime'...

### [문제 1번]

In [155]:
# json 정규화를 통해 DataFrame 생성
epiDF = pd.json_normalize(tvshDF['shows'], record_path='episodes', meta=['show', 'runtime', 'network'])

In [156]:
epiDF

,season,episode,name,air_date,show,runtime,network
0,1,1,Pilot,1993-09-11 01:00:00,The X-Files,60,FOX
1,1,2,Deep Throat,1993-09-18 01:00:00,The X-Files,60,FOX
2,1,3,Squeeze,1993-09-25 01:00:00,The X-Files,60,FOX
3,1,4,Conduit,1993-10-02 01:00:00,The X-Files,60,FOX
4,1,5,The Jersey Devil,1993-10-09 01:00:00,The X-Files,60,FOX
...,...,...,...,...,...,...,...
477,7,18,Dirty Girls,2003-04-16 00:00:00,Buffy the Vampire Slayer,60,UPN
478,7,19,Empty Places,2003-04-30 00:00:00,Buffy the Vampire Slayer,60,UPN
479,7,20,Touched,2003-05-07 00:00:00,Buffy the Vampire Slayer,60,UPN
480,7,21,End of Days,2003-05-14 00:00:00,Buffy the Vampire Slayer,60,UPN
481,7,22,Chosen,2003-05-21 00:00:00,Buffy the Vampire Slayer,60,UPN

### [문제 2번]

In [157]:
# 인덱스를 show로 설정
showDF = epiDF.set_index('show')
showDF

,season,episode,name,air_date,runtime,network
show,,,,,,
The X-Files,1,1,Pilot,1993-09-11 01:00:00,60,FOX
The X-Files,1,2,Deep Throat,1993-09-18 01:00:00,60,FOX
The X-Files,1,3,Squeeze,1993-09-25 01:00:00,60,FOX
The X-Files,1,4,Conduit,1993-10-02 01:00:00,60,FOX
The X-Files,1,5,The Jersey Devil,1993-10-09 01:00:00,60,FOX
...,...,...,...,...,...,...
Buffy the Vampire Slayer,7,18,Dirty Girls,2003-04-16 00:00:00,60,UPN
Buffy the Vampire Slayer,7,19,Empty Places,2003-04-30 00:00:00,60,UPN
Buffy the Vampire Slayer,7,20,Touched,2003-05-07 00:00:00,60,UPN
Buffy the Vampire Slayer,7,21,End of Days,2003-05-14 00:00:00,60,UPN
Buffy the Vampire Slayer,7,22,Chosen,2003-05-21 00:00:00,60,UPN

In [158]:
# 인덱스 값을 이용해 DataFrame 분리
XFilesDF = showDF.loc['The X-Files']
LostDF = showDF.loc['Lost']
BuffyDF = showDF.loc['Buffy the Vampire Slayer']

In [159]:
# 인덱스 재설정
XFilesDF.reset_index(inplace=True)
LostDF.reset_index(inplace=True)
BuffyDF.reset_index(inplace=True)

In [160]:
XFilesDF

,show,season,episode,name,air_date,runtime,network
0,The X-Files,1,1,Pilot,1993-09-11 01:00:00,60,FOX
1,The X-Files,1,2,Deep Throat,1993-09-18 01:00:00,60,FOX
2,The X-Files,1,3,Squeeze,1993-09-25 01:00:00,60,FOX
3,The X-Files,1,4,Conduit,1993-10-02 01:00:00,60,FOX
4,The X-Files,1,5,The Jersey Devil,1993-10-09 01:00:00,60,FOX
...,...,...,...,...,...,...,...
213,The X-Files,11,6,Kitten,2018-02-08 01:00:00,60,FOX
214,The X-Files,11,7,Rm9sbG93ZXJz,2018-03-01 01:00:00,60,FOX
215,The X-Files,11,8,Familiar,2018-03-08 01:00:00,60,FOX
216,The X-Files,11,9,Nothing Lasts Forever,2018-03-15 00:00:00,60,FOX
217,The X-Files,11,10,My Struggle IV,2018-03-22 00:00:00,60,FOX

In [161]:
LostDF

,show,season,episode,name,air_date,runtime,network
0,Lost,1,1,Pilot (1),2004-09-23 00:00:00,60,ABC
1,Lost,1,2,Pilot (2),2004-09-30 00:00:00,60,ABC
2,Lost,1,3,Tabula Rasa,2004-10-07 00:00:00,60,ABC
3,Lost,1,4,Walkabout,2004-10-14 00:00:00,60,ABC
4,Lost,1,5,White Rabbit,2004-10-21 00:00:00,60,ABC
...,...,...,...,...,...,...,...
116,Lost,6,14,The Candidate,2010-05-05 01:00:00,60,ABC
117,Lost,6,15,Across the Sea,2010-05-12 01:00:00,60,ABC
118,Lost,6,16,What They Died For,2010-05-19 01:00:00,60,ABC
119,Lost,6,17,The End (1),2010-05-24 01:00:00,60,ABC
120,Lost,6,18,The End (2),2010-05-24 01:00:00,60,ABC

In [162]:
BuffyDF

,show,season,episode,name,air_date,runtime,network
0,Buffy the Vampire Slayer,1,1,Welcome to the Hellmouth,1997-03-11 01:00:00,60,UPN
1,Buffy the Vampire Slayer,1,2,The Harvest,1997-03-11 01:00:00,60,UPN
2,Buffy the Vampire Slayer,1,3,Witch,1997-03-18 01:00:00,60,UPN
3,Buffy the Vampire Slayer,1,4,Teacher's Pet,1997-03-26 01:00:00,60,UPN
4,Buffy the Vampire Slayer,1,5,Never Kill a Boy on the First Date,1997-04-01 01:00:00,60,UPN
...,...,...,...,...,...,...,...
138,Buffy the Vampire Slayer,7,18,Dirty Girls,2003-04-16 00:00:00,60,UPN
139,Buffy the Vampire Slayer,7,19,Empty Places,2003-04-30 00:00:00,60,UPN
140,Buffy the Vampire Slayer,7,20,Touched,2003-05-07 00:00:00,60,UPN
141,Buffy the Vampire Slayer,7,21,End of Days,2003-05-14 00:00:00,60,UPN
142,Buffy the Vampire Slayer,7,22,Chosen,2003-05-21 00:00:00,60,UPN

### [문제 3번]

In [163]:
# 파일 저장은 아직 안배움....